.hero {
  display: flex;
  width: 40vw;
  top: 0;
  right: 0;
  position: absolute;
  height: 100vh;
}

.hero-d {
  position: absolute;
  width: 40vw;
  height: 100vh;
}

.hero-m {
  display: none;
}
